.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: inherit;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 1px solid darkgray;
  background-color: white;
}

.footer_categories {
  border-bottom: 1px solid lightgray;
  margin-bottom: 8px;
  background-color: white;
}

#footer-category-list {
  font-size: 14px;
  padding: 24px;
  background-color: white;
}

#footer-category-list_category {
  padding: 10px;
  text-decoration: none;
}

#footer-category-list_category:hover {
  text-decoration: underline;
  color: #037362
}

.footer_icons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: white;
}