#modal-navbar-div{
  width:100%;
  height:60px;
  background-color: #gray;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: solid 1px #D3D3D3;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#left-nav-div{
  display: flex;
  align-items: center;
}

#explorer-container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #D3D3D3
}
#hide-modal{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

#mid-nav-div{
  display: flex;
  align-items: center;
}

#logo-div{
  background-image:url('/money_pit_logo.png');
  background-size: 200px auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

#right-nav-div{
  display: flex;
  align-items: center;
}

#startlink{
  text-decoration: none;
}