.container-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  margin-top:10px;
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(275px, 1fr) );
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-column-gap: 15px;
  grid-template-rows: auto;
  min-width:900px;
  padding: 60px 60px;
}

.card-wrapper{
  margin:0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 450px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #4d4d4d;
}

.card img {
    height: 150px;
    width: 275;
    object-fit: cover;
    flex-direction: row;
}

.card h3 {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 10px;
}

.card h2 {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 10px;
  }
  
.listing-information-body {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
          
