.container-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  margin-top:10px;
  display:grid;
  grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
  grid-column-gap: 15px;
  grid-template-rows: auto;
  min-width:900px;
  padding: 60px 60px;
}

.card-wrapper{
  margin:0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin-bottom: 25px;
  border: 1px solid #dbdbdb;
}

.card-link{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  height: 150px;
  width: 275;
  object-fit: cover;
  flex-direction: row;
  border-bottom: 1px solid #dbdbdb;
}

.card-header{
  height: 150px;
}


.card h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
}

.card h2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
}


.card-footer{
  display:flex;
  flex-direction: column;
  height: 20%;
  padding: 0px 20px;
}

.card h4 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    /* margin-right: 15px; */
    /* margin-left: 15px; */
}

#pledged{
  color: #037362;
}
