#projectpage-container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectpage-top{
  /* width:100%;
   */
  min-width: 840px;
  max-width: 1030px;
  height: 500px;
  display:flex;
  flex-direction: column;
  border-bottom: 1px #cbcbcb solid;
}

#projectpage-title{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
}

#pp-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 3;
}

#pp-description{
  font-weight: 300;
  width:75%;
  text-align: center;
}

#projectpage-detail{
  display:flex;
  justify-content: center;
  flex-direction: row;
  height: 350px;
}

#projectpage-detail-left{
  display:flex;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 15px;
}

#pp-image{
  height: 300px;
}

#pp-location{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
}

#projectpage-detail-right{
  display:flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 45px;
}

#projectpage-detail-pledge{
  padding-top: 25px;
}

.pp-detail-pledge-title{
  font-weight: 500;
  font-size: 24px;
}

.green-text{
  color: #028858;
}

.pp-detail-text{
  font-weight: 300;
}

#projectpage-detail-backers{
  padding-top: 25px;
}

#projectpage-detail-days{
  padding-top: 25px;
  padding-bottom: 25px;
}

#projectpage-detail-button{
  background-color: #028858;
  border: 0px;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

#projectpage-detail-end-date{
  font-size: 10px;
  font-weight: 300;
  padding-top: 15px;
}

#projectpage-middle{
  min-width: 840px;
  max-width: 1030px;
  min-height: 1000px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  line-height: 1.75;
  border-bottom: 1px #cbcbcb solid;

  }

#pp-middle-title{
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 30px;
}

#projectpage-info{
  display:flex;
  flex-direction: column;
  padding-right: 20px;
  font-weight: 400;
}

#projectpage-pledges{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#projectpage-bottom{
  display:flex;
  flex-direction: column;
  min-width: 840px;
  max-width: 1030px;
  height: 550px;
  padding: 35px 45px;
  position: relative;

}

#projectpage-recommended{
  width: 80vh;
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
}

#projectpage-recommended-title{
  font-size: 12px;
  font-weight: 500;
  color: #555555;
  padding-bottom: 20px;
}

#projectpage-recommendedcard{
  height: 100px;
}