.full-width{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.listings-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25px;
}

.listings {
    margin-left: -8px !important;
    margin-right: -8px !important;
    padding: 0px !important;
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    width: 100% !important;
    height:100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.listing-size {
    display: flex;
    overflow: hidden;
    background: white;
    box-sizing: border-box;
    align-items: center;
    width: 778px;
    height: 249px;

}

.listing img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    flex-direction: row;
    border-radius: 10px;
}

.listing h3 {
    font-size: 15px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 10px;
}

.listing h2 {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 10px;
  }

.listing {
  display:flex;
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding:20px;
  width: 100%;
 }

.spacer-div{
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 20px;
  padding: 20px;
  margin-left:10px;
  max-height: 0px;
  padding: 0px;
}

.listing-information {
      width: 100%;
}

.listing-information-body {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.card-small-image{
  cursor:pointer
}