.start_project_container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 1366px;
  height: 800px;
  padding-left: 60px;
  padding-right: 60px;
  /* background-color: blue; */
}

#page-number {
  font-size: 13px;
  color: #282828;
}

.start_project-box {
  padding-top: 15vh;
  max-width: 605px;
  flex-basis: inherit;
}

.sp_box-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  height: 270px;
  max-width: 605px;
  padding-bottom: 184px;
  top: 104px;
  border-bottom: 1px solid rgba(0,0,0,0.17);;
}

#sp_box-one__top-text {
  font-size: 28px;
  margin-bottom: 12px;
}

#sp_box-one__bottom-text {
  color: rgba(0,0,0,0.6);
  margin-bottom: 2rem;
  font-size: 1.1rem;
  text-align: center;
}

.sp_box-select {
  display: flex;
  justify-content: space-between;
  width: 605px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #656969;
  padding: 12px 18px;
  transition: .25s ease-out;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

.title-input {
  padding-top: 10px;
  width: 605px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #656969;
  padding-left: 18px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  border: none;
  outline: none;
}

textarea {
  min-width: 95%;
  border: none;
  outline: none;
  height: auto;
  font-size: 18px;
  color: #656969;
}

.description-box {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  color: #656969;
  padding: 12px 18px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

.funding-input {
  padding-left: 30px;
  color: #015738;
}

#sp_box-phrase {
  padding-right: 5px;
  padding-top: 5px;
  justify-content: space-between;
}

#sp_box-phrase-2 {
  padding-right: 5px;
  padding-top: 5px;
  justify-content: space-between;
}

.sp_box-select:hover {
 cursor: pointer;
 border: 1px solid #282828;
 transition: 0.25s ease-in-out;
 opacity: 1;
 transform: translateY(-1px);
 box-shadow: 0 2px 6px 0 rgba(0,0,0,0,0.17)
}

.fa-caret-down {
  color: black;
  padding-top: 5px;
}

.sp_lower-box {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.sp_box_one-modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 450px;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17);
  border: 1px solid black;
  margin-top: 370px;
}

.sp_box-one-modal {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 606px;
  height: auto;
  font-size: 18px;
  background-color: white;
  color: #656969;
  padding: 12px 18px;
  z-index: 158;
  border: 5px solid white;
}

.sp_box-one-modal:hover {
  align-items: center;
  cursor: pointer;
  background-color: lightgray;
}

.sp_box-one-modal__category:hover {
  cursor: pointer;
}

.sp_first_proj {
  font-size: 14px;
  color: #656969
}

.sp_box-one-modal:hover {
  align-items: center;
  cursor: pointer;
  background-color: lightgray;
}

.sp_start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464646;
  height: 44px;
  width: 153px;
  border: none;
}

.sp_start-button:hover {
  background-color: black;
  cursor: pointer;
}

#sp_button-word {
  color: #FFFFFF;
  font-size: 14px;
}

.sp_disclaimer {
  display: block;
  text-align: center;
  margin-top: 60px;
  font-size: .7rem;
  color: #9B9E9E;
  width: 605px;
}

.fa-dollar-sign {
  padding-top: 20px;
  padding-left: 18px;
  position: absolute;
}
