#user-modal{
  position: absolute;
  top: 65px;
  right: 15px;
  height: 400px;
  width: 800px;
  z-index: 50;
  border: 1px solid #a5a5a5;
  background-color: #ffffff;
  cursor: default;
}

#user-modal-top{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height:82%;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

#user-modal-top h3{
  font-size: 12px;
  font-weight: 500;
  width:100%;
}

#user-modal__link{
  color: #464646;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0px;
}

#user-modal__link:hover{
  color: #037362;
  text-decoration: underline;
}

.user-column1 {
  display:flex;
  flex-direction: column;
  padding-right:10px;
}

.scroll{
  position: relative;
  margin-top: 50px;
}

.user-column2{
  display: grid;
  grid-template-rows: .5fr 3fr .5fr;
  margin-right: 30px;
  height: 230px;
}

#usermodal__header{
  padding-bottom: 25px;
  position:fixed;
  background-color: #ffffff;
  z-index: 50;
}

.user-column3{
  grid-template-rows: .5fr 3fr .5fr;
  height: 230px;
  overflow-y: scroll;
}

#usermodal__project{
  display: flex
}

#usermodal__project-link{
  color: #464646;
  font-size: 12px;
  text-decoration: none;
}

#backed-modal-pic{
  width:60px;
  height: 100%;
  margin-right: 10px;
}

#user-modal-bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  margin-left: 35px;
  margin-right: 35px;
  z-index: 51;
}

#new-project-button{
  background-color: #ffffff;
  border: 0px;
  cursor:pointer;
  transition: all ease 1s;
  width: 100%;
  height:25px;
  text-align: left;
}

#new-project-button:hover {
  box-shadow: inset 500px 0 0 0 #4C6CF8;
  color: #fff;
}

#user-modal__button{
  position: fixed;
  display:flex;
  align-content: center;
  border-top: 1px solid #bdbdbd;
  margin-top: 40px;
  padding-top: 10px;
}

#close-modal-button{
  z-index: 100;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
  padding-top: 20px;
}

#logout-span{
  color: #464646;
  font-size: 12px;
  text-decoration: none;
  padding-top: 20px;
  cursor:pointer;
}

#logout-span:hover{
  color: #037362;
  text-decoration: underline;
}

#hide-modal{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
}